body {
    background-color: #181818;
    margin: 0 0 0 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    background: #A9A9A9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

.navbar {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(92.33% 4771.2% at 51.77% 100%, #0000FF 0%, #9900CC 43.14%, #0000FF 100%);
    font-family: 'Francois One', sans-serif;
}

.Pagelinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
}

.About, .Works, .Blogs {
    font-size: 30px;
    line-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    text-decoration: none;
}

.Quicklinks {
    width: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.twitter-logo, .github-logo, .linkedin-logo {
    width: 30px;
    height: 30px;
}

.space-division {
    height: 30px;
}

.aboutme {
    width: 100%;
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3%;
}

.aboutmetext {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
    font-family: 'Hind Siliguri', sans-serif;
}

.Greeting {
    font-size: 50px;
    font-weight: 700;
    color: white;
}

.myself {
    width: 80%;
    font-size: 20px;
    color: white;
}

.DP {
    width: 30%;
    padding-right: 5%;
}

.getintouch {
    width: 100%;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Hind Siliguri', sans-serif;
}

.contacttext {
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    color: white;
    padding-left: 50px;
}

.contactlinks {
    padding-left: 50px;
    width: 80%;
    padding-bottom: 50px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.twitter-contact, .github-contact, .linkedin-contact {
    width: 40px;
    height: 40px;
}

.gmail-contact {
    width: 81.43px;
    height: 80px;
}

.hackerrank-contact {
    width: 54.10px;
    height: 60px;
}

.linktree-contact {
    width: 60px;
    height: 50px;
}