body {
    background-color: #181818;
    margin: 0 0 0 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    background: #A9A9A9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

.navbar {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(60% 4771.2% at 60% 10%, #0000FF 0%, #9900CC 43.14%, #0000FF 100%);
    font-family: 'Francois One', sans-serif;
}

.Pagelinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
}

.About, .Works, .Blogs {
    font-size: 30px;
    line-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    text-decoration: none;
}

.Quicklinks {
    width: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.twitter-logo, .github-logo, .linkedin-logo {
    width: 30px;
    height: 30px;
}

.space-division {
    height: 30px;
}

.worksrow {
    width: 90%;
    padding-left: 5%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

.my-work {
    width: 100%;
    max-height: 300px;
    border-radius: 30px;
}

.works:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 19px 43px;
  	transform: translate3d(0px, -7px, -7px);
}

#overlay:hover {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }