body {
    background-color: #181818;
    margin: 0 0 0 0;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
    
::-webkit-scrollbar-track {
    background: #A9A9A9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

.navbar {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(80% 4771.2% at 30% 50%, #0000FF 0%, #9900CC 43.14%, #0000FF 100%);
    font-family: 'Francois One', sans-serif;
}

.Pagelinks {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
}

.About, .Works, .Blogs {
    font-size: 30px;
    line-height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    text-decoration: none;
}

.Quicklinks {
    width: 16%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.twitter-logo, .github-logo, .linkedin-logo {
    width: 30px;
    height: 30px;
}

.space-division {
    height: 30px;
}

.under-development {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.design-develop {
    font-size: 50px;
    font-weight: 700;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
}